#content{
	&.pink {
		background-image: url(../images/record-pink.jpg);
	}
	&.black {
		background-image: url(../images/record-black.jpg);
	}
	&.gray {
		background-image: url(../images/record-gray.jpg);
	}
	&.mauve {
		background-image: url(../images/record-mauve.jpg);
	}
	background-size: cover;
	background-position: center center;
	background-color: #010203;
	background-repeat: no-repeat;
	min-height: 100%;
	position: absolute;
	width: 100%;
}