#content{
	&.pink {
		background-image: url(../images/record-pink.jpg);
		.logo {
			background-image: url(../images/logo-pink.svg);
		}
	}
	&.black {
		background-image: url(../images/record-black.jpg);
		.logo {
			background-image: url(../images/logo-black.svg);
		}
	}
	background-size: cover;
	background-position: center center;
	background-color: #010203;
	background-repeat: no-repeat;
	min-height: 100%;
	position: absolute;
	width: 100%;
}