$a-color: #fff;
$p-color: #fff;
$h1-color: #fff;
$h2-color: #fff;
$h3-color: #fff;
$h4-color: #fff;
$h5-color: #fff;
$h6-color: #fff;
$h6-span-color: #fff;
$dt-color: #fff;
$dd-color: #fff;
$nav-color: #fff;
$nav-hover-color: #fff;
$nav-hover-bg-color: #fff;

$breakpointLarge: 1280;
$breakpointTablet: 1024;

$wrapper-large-width: 1024;
$wrapper-small-width: 1024;
$wrapper-width: 1024;