RewriteEngine On
RewriteRule ^talent$ /talent\.php [L]
RewriteRule ^talent/(.*)$ /details\.php?model=$1 [L]
Options -MultiViews 
Options -Indexes
ErrorDocument 404 /404.html
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss