RewriteEngine On
RewriteRule ^assets/(.*)$ /wanderlust/$1 [R=301,L]
RewriteRule ^wanderlust/assets/(.*)$ /wanderlust/$1 [R=301,L]
RewriteRule ^talent$ /wanderlust/talent\.php [L]
RewriteRule ^talent/(.*)$ /wanderlust/details\.php?model=$1 [L]
Options -MultiViews 
Options -Indexes
ErrorDocument 404 /404.html
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss